<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Travel Tracker</title>
    <link rel="stylesheet" href="styles/new.css" />
  </head>
  <body>
    <main>
      <form id="add-user" action="/add-user" method="post">
        <h1>Add a New Member</h1>

        <h2>Name</h2>

        <input class="text-input" type="text" name="name" required />

        <h2>Color</h2>

        <div class="radio-input">
          <input id="red" type="radio" name="color" value="red" checked />
          <label class="red" for="red"></label>

          <input id="green" type="radio" name="color" value="green" />
          <label class="green" for="green"></label>

          <input id="yellow" type="radio" name="color" value="yellow" />
          <label class="yellow" for="yellow"></label>

          <input id="olive" type="radio" name="color" value="olive" />
          <label class="olive" for="olive"></label>

          <input id="orange" type="radio" name="color" value="orange" />
          <label class="orange" for="orange"></label>

          <input id="teal" type="radio" name="color" value="indigo" />
          <label class="teal" for="teal"></label>

          <input id="blue" type="radio" name="color" value="blue" />
          <label class="blue" for="blue"></label>

          <input id="violet" type="radio" name="color" value="violet" />
          <label class="violet" for="violet"></label>

          <input id="purple" type="radio" name="color" value="purple" />
          <label class="purple" for="purple"></label>

          <input id="pink" type="radio" name="color" value="pink" />
          <label class="pink" for="pink"></label>
        </div>
      </form>

      <form id="/" action="/" method="get">
        <button type="submit" form="add-user">Add</button>
        <button type="submit">Back</button>
      </form>
    </main>
  </body>
</html>
