@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

body {
  background: #21252b;
}

main {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* top section */
#top-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div,
form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

input {
  margin-right: 10px;
  padding: 10px;
  width: 375px;
  border: none;
  outline: none;
  text-align: center;
}

/* middle section */
#middle-section {
  align-self: center;
}

svg {
  height: auto;
  width: 100%;
}

path {
  fill: #383d46;
  stroke: #21252b;
  stroke-width: 0.5;
}

/* bottom section */
#bottom-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#bottom-section > button {
  cursor: default;
}

@media (max-width: 375px) {
  input {
    width: 100%;
  }
}
