@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --font-size: 20px;
  font-size: var(--font-size);
}

body {
  background: #21252b;
}

/* form (section) 1 */
#add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  margin: 30px 0 0;
}

h2 {
  margin: 30px 0 10px;
}

input.text-input {
  padding: 10px;
  width: 345px;
  border: none;
  outline: none;
  font-size: var(--font-size);
  text-align: center;
}

div.radio-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + label {
  transform: scale(1.5);
}

input[type='radio']:checked + .red {
  border: 3px solid #711313;
}

input[type='radio']:checked + .orange {
  border: 3px solid #873a08;
}

input[type='radio']:checked + .yellow {
  border: 3px solid #816102;
}

input[type='radio']:checked + .olive {
  border: 3px solid #505a0b;
}

input[type='radio']:checked + .green {
  border: 3px solid #0e4e1d;
}

input[type='radio']:checked + .teal {
  border: 3px solid #003633;
}

input[type='radio']:checked + .blue {
  border: 3px solid #103f62;
}

input[type='radio']:checked + .violet {
  border: 3px solid #321a64;
}

input[type='radio']:checked + .purple {
  border: 3px solid #501962;
}

input[type='radio']:checked + .pink {
  border: 3px solid #851554;
}

label {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

label:hover {
  transform: scale(1.25);
  transition: transform 0.2s ease-in-out;
}

.red {
  background: #db2828;
}
.orange {
  background: #f2711c;
}
.yellow {
  background: #fbbd08;
}
.olive {
  background: #b5cc18;
}
.green {
  background: #21ba45;
}
.teal {
  background: #00b5ad;
}
.blue {
  background: #2185d0;
}
.violet {
  background: #6435c9;
}
.purple {
  background: #a333c8;
}
.pink {
  background: #e03997;
}

/* form (section) 2 */
#\/ {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size);
  background-color: white;
  color: #21252b;
  cursor: pointer;
}

@media (max-width: 345px) {
  input.text-input {
    width: 100%;
  }
}
